.main_chat
  .main_chat_top
    .group_box
      .group_box__name
        グループ名
      .group_box__member
        メンバー
    .group_edit
      = link_to  edit_group_path(current_user), class: 'btn group_edit--btn' do
        Edit
  .main_chat_middle
    .post_info
      .post_info__name
        ユーザー名
      .post_info__date
        2019/11/06
    .post 
      This is a first message

  .main_chat_bottom
    .input_box
      %label
        %input.textbox{placeholder: "type a message", class: "input_box__text"}
      %label
        %i.fa.fa-image{class: "input_box__icon"}
        %input{type: "file", class: "input_box__file"}
    .text_send
      Send