.main_chat
  .main_chat_top
    .groupe_box
      .groupe_name_main
        グループ名
      .member
        メンバー
    .groupe_edit
      Edit
      
  .main_chat_middle
    .post_date
      .user_name_main
        ユーザー名
      .date
        2019/11/06
    .post 
      This is a first massege

  .main_chat_bottom
    .text_box
      %label
        %input.textbox{placeholder: "type a massege", class: "input_box"}
      %label
        %i.fa.fa-image{class: "input_icon"}
        %input{type: "file", class: "input_file"}
    .text_send
      Send

      
 