.side_bar
  .user_box
    .user_box__name
      = current_user.name
    .user_box__btn
      =link_to "#", class: "user_box__btn--edit" do
        .i.fa.fa-edit 
      =link_to edit_user_path(current_user), class: "user_box__btn--setting" do
        .i.fa.fa-cog
  
  .side_bar_bottom
    .groupe_name
      グループ名
    .newpost
      まだ投稿されていません   