.side_bar
  .side_bar_top
    .user_name_bar
      ユーザー名
    .side_bar__btn
      =link_to "#", class: "side_bar__btn--edit" do
        .i.fa.fa-edit 
      =link_to "#", class: "side_bar__btn--setting" do
        .i.fa.fa-cog
  
  
  .side_bar_bottom
    .groupe_name_bar
      グループ名
    .newpost
      まだ投稿されていません


      



  
  
    
      